#product-section__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // background-color: var(--clr-id-secondary);
  // background: linear-gradient(
  //   70deg,
  //   rgba(0, 0, 0, 1) 0%,
  //   rgba(42, 46, 58, 1) 50%
  // );

  // background: linear-gradient(
  //   60deg,
  //   rgba(0, 0, 0, 1) 0%,
  //   rgba(42, 46, 58, 1) 60%
  // );

  // background: linear-gradient(60deg, rgb(24, 24, 27) 0%, rgb(30, 32, 35) 60%);
  // background: linear-gradient(60deg, rgb(11, 11, 12) 0%, rgb(19, 19, 21) 60%);

  background: linear-gradient(90deg, rgb(24, 24, 25) 50%, rgb(0, 0, 0) 50%);

  h1 {
    color: var(--clr-grey-200);
  }
}

#product-section__wrapper {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 100%;

  margin: 0 auto;

  h1 {
    text-align: center;
  }
}

.sticky-element {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: #fcca46; // #ffe45e // #EFA00B // #FCCA46
  height: 120px;
  width: 120px;

  top: 0;
  right: 0;
}

.product-section__image-wrapper {
  position: relative;
  width: 100%;
  height: 300px;

  .product-section__image {
    position: absolute;
    width: 100%;
    height: 100%;

    img {
      object-fit: contain;
      padding: 80px;
    }
  }
}

.product-section__text {
  padding: 120px 0;

  color: var(--clr-grey-500);
}

.product-section__data-list {
  li {
    list-style-type: square;
    margin: 5px 0;
    line-height: 2em;
  }
}
