//--------------------------------------------------------------------- 404 ERROR PAGE

.error-404__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: #fff;

  height: 100vh;
  width: 100vw;

  h1 {
    display: flex;
    justify-content: center;

    color: #000;
    margin: 50px 0 20px 0;
  }

  h2 {
    font-family: 'CeraPro-Bold';
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
    font-size: 20rem;
  }

  p {
    font-family: 'CeraPro-Regular';
    font-size: 16rem;
    line-height: normal;

    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #fff;

    a {
      font-family: 'CeraPro-Regular';
      font-size: 16rem;
      line-height: normal;

      color: orange;
      text-decoration: none;
      margin-left: 5px;
    }
  }
}

.error-404__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#error-404__btn {
  font-family: 'CeraPro-Medium';
  font-size: 16rem;

  background-color: var(--clr-bg-primary);
  border: 2px solid var(--clr-bg-primary);

  padding: 0.75em 2em;
  margin: 50px 0;

  outline: none;

  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;

  a {
    text-decoration: none;
    color: #fff;
  }
}
